.product-details-container{
    padding: 10px;
    border: 1px solid red;
    /* Esse tamanho de fonte vai servir de referêncial para as fontes da pagina atraves do em */
    font-size: 24px  ;
}

.product-details-card{
    padding: 10px;
    border: 1px solid red;

}

.goback-container{
    display: flex;
    align-items: center;
    border: 1px solid red;
    margin-bottom: 20px;
}

.goback-container h2{
    margin-left: 15px;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: rgba(38, 50, 56, 1);
    text-transform: uppercase;
}

.goback-container img{
    margin-left: 5px;
    transform: rotate(-180deg);
    color: #407bff;
}

.img-container{
   text-align: center;
   border: 1px solid red;
   margin-bottom: 20px;
}
.img-container img{
    width: 80%;
}

.name-price-container{
    border: 1px solid red;
    margin-bottom: 20px;  
}
.name-price-container h1{
    font-size: 1.1em;
    color: #263238;
    letter-spacing: -0.015em;
}

.description-container{
    border: 1px solid red;
}
.description-container h2 {
    border: 1px solid red;
    color: rgba(158, 158, 158, 1);
    letter-spacing: -0.015em;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.description-container p{
    color: rgba(158, 158, 158, 1);
    letter-spacing: -0.015em;
    font-size: 0.6em;
}
